<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Tech Stack</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.tech_stack }}</td>
                <td>{{ user.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
