<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="jobs_for_looking" name="jobs_for_looking" placeholder="jobs_for_looking" required><br>
        <input type="tech_stack" name="tech_stack" placeholder="Tech_stack" required><br>
        <input type="location" name="location" placeholder="location" required><br>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Log In</a></p>
</body>
</html>